In [2]:
#Q1
sum=1+2+3+4+5
print(sum)
avg=(23+19+31)/3
print (avg)
a=403//73
print(a)
b=403%73
print(b)
power=2**10
print(power)
diff=abs(54-57)
minimum=min(34.99,29.95,31.50)
print(minimum)

15
24.333333333333332
5
38
1024
29.95

In [7]:
#Q2
a=2+2<4
b=7//3==1+1
c=3**2+4**2==25
d=2+4+6>12
e=1389%19==0
f=31%2==0
g=min(34.99,29.95,31.50)<30.00
print(a,b,c,d,e,f,g)

False True True False False False True

In [8]:
#Q3
a=3
b=4
c=a*a+b*b
print(c)

25

In [17]:
#Q4
s1='ant'
s2='bat'
s3='cod'
a=print(s1,s2,s3)
b=print(10*(s1+' '))
c=print(s1+' '+2*(s2+' ')+2*(s3+' '),s3)
print(7*(s1+' '+s2+' '))
print(3*(2*s2+s3+' '))

ant bat cod
ant ant ant ant ant ant ant ant ant ant
ant bat bat cod cod  cod
ant bat ant bat ant bat ant bat ant bat ant bat ant bat
batbatcod batbatcod batbatcod

In [19]:
#Q5
s='0123456789'
print(s[0],s[1],s[6],s[8],s[9])

0 1 6 8 9

In [18]:
#Q6 
words=['bat','ball','barn','basket','badminton']
print(min(words))
print(max(words))

badminton
bat

In [7]:
#Q7
grade =[9,7,7,10,3,9,6,6,2]
print(grade.count(7))     
grade.sort()
print(grade)
print(max(grade))
print((sum(grade))/(len(grade)))
grade[-1]=4
print(grade)

2
[2, 3, 6, 6, 7, 7, 9, 9, 10]
10
6.555555555555555
[2, 3, 6, 6, 7, 7, 9, 9, 4]

In [16]:
#Q8
a=6
l=[0,1,2,3,4,5,6,7,8,9]
b=((2+3)==4)or(a>=5)
c=(((l[1])*(-3))<(-10))==0
d=(((l[1])*(-3))<(-10)) in [0,True]
e=2*(3**2)
f=(4/2) in [1,2,3]
print(b,c,d,e,f)

True True True 18 True

In [18]:
#Q9
print(False+False)
print(2*3**2.0)
print(4//2+4%2)
print(2+3==4 or 5>=5)

0
18.0
2
True

In [47]:
#Q10
import math
a=3
b=4
x='x'
y='y'
H=math.sqrt(a**2+b**2)
c=math.sqrt(a**2+b**2)==5
r=math.pi*a**2
print(H)
print(c)
print(r)
print((a)**2+(b)**2<r**2)

5.0
True
28.274333882308138
True

In [52]:
#Q11
a=-7+-6+-5+-4+-3+-2+-1
b=(17*9 + 24*10 + 21*11 + 27*12)/(17+24+21+27)
c=2**(-20)
d=4356//61
e=4365 % 61
print(a)
print(b)
print(c)
print(d)
print(e)

-28
10.651685393258427
9.5367431640625e-07
71
34

In [53]:
#Q12
s1='-'
s2='+'
print(s1+s2)
print(s1+s2+s1)
print(s2 + 2*s1)
print(2*(s2 + 2*s1))
print(10*(s2 + 2*s1) + s2)
print(5*(s2+s1+3*s2+2*s1))

-+
-+-
+--
+--+--
+--+--+--+--+--+--+--+--+--+--+
+-+++--+-+++--+-+++--+-+++--+-+++--

In [81]:
s ='abcdefghijklmnopqrstuvwxyz'
print(s[0])

print(s[2])

print(s[25])

print(s[24])

print(s[16])

a
c
z
y
q

In [65]:
#Q14
s='goodbye'
print(s[0] == 'g')
print(s[6] == 'g')
print((s[0] == 'g' and s[1] == 'a'))
print(s[-2] == 'x')
print(s[len(s)//2] == 'd')
print(s[0] == s[-1])
print(s[-4:] == "tion")

True
False
False
False
True
False
False

In [66]:
first_word= 'anachronistically'
second_word= 'counterintutive'
print("the number of character in the word anachronistically is " +str(len(first_word ))) 
print("the number of character in the word counterintutive is " +str(len(second_word))) 
print("the number in character anachronistically "+str(len(first_word)-(len(second_word)))+" then counterintutive")
wor=("floccinaucinihilipilification") 
wor.count("e")
print("number of e in given word is "+str(wor.count("e")))
dictionary=['misrepresentation','misinterpretation']
dictionary.sort()
print(dictionary)
ELEMENT_1 ="counterrevolution" 
ELEMENT_2="counter" 
ELEMENT_3="revolution" 
print("number of characters in counterrevolutionis "+str(len(ELEMENT_1))) 
print("sum of counter and revolution is "+str(len(ELEMENT_2)+(len(ELEMENT_3))))
print("NUMBER OF LETTER IN ELEMENT 1 ARE EQUAL TO THE SUM OF THE LETTLES OF ELEMENT 2 AND 3")

the number of character in the word anachronistically is 17
the number of character in the word counterintutive is 15
the number in character anachronistically 2 then counterintutive
number of e in given word is 0
['misinterpretation', 'misrepresentation']
number of characters in counterrevolutionis 17
sum of counter and revolution is 17
NUMBER OF LETTER IN ELEMENT 1 ARE EQUAL TO THE SUM OF THE LETTLES OF ELEMENT 2 AND 3

In [70]:
a=2 
b=4 
c=(a+b)/2 
print(c)
inventory = ['paper','staplers','pencil'] 
first = 'John' 
middle = 'Fitzgerald' 
last = 'Kennad' 
fullname = first + " " + middle + " " + last 
print("my fullname is " + fullname)
#Q17
inventory=[1,2,3,45,6,7]
fullname=[1,25,3,657,8,33,53,2,2,26]
print(17-9 < 10)
print(len(inventory) > 5*len(fullname))
print(c <= 24)
print((6.75 < a and 6.75 > b) or (6.75 < b and 6.75 > a))
print(len(middle) > len(first) and len(middle) < len(last))
print(len(x)==0 or len(x) > 10)

3.0
my fullname is John Fitzgerald Kennad
True
False
True
False
False
False

In [71]:
flowers=['rose','bougainvillea', 'yucca', 'marigold', 'daylilly','lilly of the valley']
print(flowers)
flowers=['rose','bougainvillea', 'yucca', 'marigold', 'daylilly','lilly of the valley']
print('potato'in[flowers])
thorny=[flowers[0],flowers[1],flowers[2]]
print(thorny)
poisonous=[flowers[-1]]
print(poisonous)
dangerous = thorny + poisonous
print(dangerous)

['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']
False
['rose', 'bougainvillea', 'yucca']
['lilly of the valley']
['rose', 'bougainvillea', 'yucca', 'lilly of the valley']

In [76]:
answers = ['Y', 'N', 'N', 'Y', 'N', 'Y', 'Y', 'Y', 'N', 'N', 'N'] 
numYes = answers.count('Y')
numNo = answers.count('N')
percentYes = answers.count('Y')/len(answers)

print(numYes)
print(numNo)
print(percentYes)
print(answers.sort())
print(answers.count('N'))

5
6
0.45454545454545453
None
6

In [27]:
#Q20
s='cat'
s1=s[::-1] 
print (s1)

tac

In [30]:
#Q21
s = "Ljubomir Perkovic" 
names = s.split()
initial = "" 
for i in names: 
    initial += i[0]
print(initial)

LP

In [32]:
#Q22
lst=[3,7,-2,12]
print(max(lst)-min(lst))

14

In [33]:
#Q23
monthl=['jan','feb','mar','may']
montht=('jan','feb','mar','may')
monthl.insert(3,'apr')
montht = montht[ : 3 ] + ('apr' ,)+montht[3:]
print(monthl)
print(montht)
monthl.insert(5,'jun')
print(monthl)
montht=montht[:5]+('jun',)+montht[5:]
print(montht)
montht=list(montht)
montht.pop()
monthl.pop()
monthl.remove('feb')
montht=list(montht)
montht.remove('feb')
print(montht)
print(monthl)
monthl.reverse()
print(monthl)
monthl.sort()
print(monthl)

['jan', 'feb', 'mar', 'apr', 'may']
('jan', 'feb', 'mar', 'apr', 'may')
['jan', 'feb', 'mar', 'apr', 'may', 'jun']
('jan', 'feb', 'mar', 'apr', 'may', 'jun')
['jan', 'mar', 'apr', 'may']
['jan', 'mar', 'apr', 'may']
['may', 'apr', 'mar', 'jan']
['apr', 'jan', 'mar', 'may']

In [36]:
#Q24
grades=['b','a','b','c','b','a','d','f']
count = [grades.count('a'),grades.count('b'),grades.count('c'),grades.count('d'),grades.count('f')]
print(count)

[2, 3, 1, 1, 1]

In [38]:
#Q24
grades=('b','a','b','c','b','a','d','f')
count = [grades.count('a'),grades.count('b'),grades.count('c'),grades.count('d'),grades.count('f')]
print(count)

[2, 3, 1, 1, 1]

In [37]:
#Q26
from math import sqrt
r=10
X=0
Y=0
first_target=sqrt((0-0)**2+(0-0)**2)
second_target=sqrt((10-0)**2+(10-0)**2)
third_target=sqrt((6-0)**2+(6-0)**2)
fourth_target=sqrt((8-0)**2+(7-0)**2)
print(first_target<r)
print(second_target<r)
print(third_target<r)
print(fourth_target<r)

True
False
True
False

In [39]:
#Q27
#this program is to compute the height reached by the ladder with the help of length and angle
import math
length = float(input("LENGTH OF THE LADDER:"))
ang_d = float(input("input angle in degree:"))
ang_r=math.pi*ang_d/180
height=length*math.sin(ang_r)
print("The height of the ladder is", height)
length = float(input("LENGTH OF THE LADDER:"))
ang_d = float(input("input angle in degree:"))
ang_r=math.pi*ang_d/180
height=length*math.sin(ang_r)
print("The height of the ladder is", height)
length = float(input("LENGTH OF THE LADDER:"))
ang_d = float(input("input angle in degree:"))
ang_r=math.pi*ang_d/180
height=length*math.sin(ang_r)
print("The height of the ladder is", height)
length = float(input("LENGTH OF THE LADDER:"))
ang_d = float(input("input angle in degree:"))
ang_r=math.pi*ang_d/180
height=length*math.sin(ang_r)
print("The height of the ladder is", height)

LENGTH OF THE LADDER:16
input angle in degree:75
The height of the ladder is 15.454813220625093
LENGTH OF THE LADDER:20
input angle in degree:0
The height of the ladder is 0.0
LENGTH OF THE LADDER:24
input angle in degree:45
The height of the ladder is 16.970562748477143
LENGTH OF THE LADDER:24
input angle in degree:80
The height of the ladder is 23.63538607229299

In [41]:
#Q28
lst=[11,52,253,45,98]
middle = int(len(lst) / 2)
print(lst[middle])  
print(len(lst)//2)
lst.sort(reverse = True)
print("my number list in descending",lst)
lst.insert(len(lst),lst.pop(0))
print(lst)

253
2
my number list in descending [253, 98, 52, 45, 11]
[98, 52, 45, 11, 253]

In [43]:
#Q29
print(0 == (1 == 2))
print((2 + (3 == 4) + 5) == 7)
print((1 < -1) == (3 > 4))

True
True
True

In [45]:
#Q30
q='hello salam'
print(list(q))

['h', 'e', 'l', 'l', 'o', ' ', 's', 'a', 'l', 'a', 'm']

In [46]:
#Q31
lst = [2, 3, 4]
print(lst)
lst.extend([5, 6])
print(lst)
lst2 = lst.copy()
print(lst2)
lst.clear()
print(lst)
print(lst2)

[2, 3, 4]
[2, 3, 4, 5, 6]
[2, 3, 4, 5, 6]
[]
[2, 3, 4, 5, 6]

In [1]:
s='cat'
s[::-1]  
print(s[-1]+s[-2]+s[-3])

tac

In [2]:
lst=[1,11,15,17,10]
max(lst)-min(lst)

16

In [3]:
lst=[1,11,15,17,10]
len(lst)//2

2

In [5]:
lst=[1,11,15,17,10]
st[len(lst)//2]

NameError: name 'st' is not defined

In [6]:
lst=[1,11,15,17,10]
lst.sort() 
lst.reverse()

In [7]:
lst=[1,11,15,17,10]
x=lst.pop(0)
lst.append(x)

In [8]:
list1 = ['Jan', 'Feb', 'Mar', 'Apr', 'May']
# insert Apr at the 3rd index of the list
list1.insert(3,'Apr')
print(list1)

['Jan', 'Feb', 'Mar', 'Apr', 'Apr', 'May']

In [9]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May']
# using pop() to delete element from right end
# deletes 4 from the right end of deque
months.pop()

'May'

In [10]:
s1 = 'Jan'
s2 = 'Feb'
s3 = 'Mar'
s4 = 'Apr'
s5 = 'May'
s6 = 'Jun'
s7 = s1 + s2 + s3 +s4 + s5 + s6
print(s7)

JanFebMarAprMayJun

In [11]:
monthsL=['Jan', 'Feb', 'Mar', 'Apr', 'May']
monthsT=['Jan', 'Feb', 'Mar', 'Apr', 'May']
monthsL.remove('Mar')
print(monthsL)
monthsT.remove('Feb')
print(monthsT)

['Jan', 'Feb', 'Apr', 'May']
['Jan', 'Mar', 'Apr', 'May']

In [12]:
m = ['Jan', 'Feb', 'Mar', 'Apr']
def Reverse(m):
    return [ele for ele in reversed(m)]
# Driver Code
print(Reverse(m))

['Apr', 'Mar', 'Feb', 'Jan']

In [13]:
months = ['Jan', 'Feb', 'Mar']
# Sorting list of months in ascending
months.sort()
print(months)

['Feb', 'Jan', 'Mar']

In [14]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May','Jun']

# Sorting list of months in descending
months.sort(reverse = True)
print(months)
print(list1)

['May', 'Mar', 'Jun', 'Jan', 'Feb', 'Apr']
['Jan', 'Feb', 'Mar', 'Apr', 'Apr', 'May']

In [15]:
s = "Ljubomir Perkovic" 
names = s.split()
initial = "" 
for i in names: 
    initial += i[0]
    print(initial)

L
LP

In [16]:
import math
r=10
X=0
Y=0
a=math.sqrt((0-0)**2+(0-0)**2)
b=math.sqrt((10-0)**2+(10-0)**2)
c=math.sqrt((6-0)**2+(6-0)**2)
d=math.sqrt((8-0)**2+(7-0)**2)
print(a<r)
print(b<r)
print(c<r)
print(d<r)

True
False
True
False

In [17]:
>>> lst = [2, 3, 4]
>>> lst.extend([5, 6])
>>> lst
[2, 3, 4, 5, 6]
>>> lst2 = lst.copy()
>>> lst2
[2, 3, 4, 5, 6]
>>> lst.clear()
>>> lst
[]
>>> lst2
[2, 3, 4, 5, 6]

[2, 3, 4, 5, 6]

In [18]:
0 == 1 == 2
0== False
False==False
True

True

In [19]:
2 + 3 == 4 + 5 == 7
2+3==False
False==False
True

True

In [20]:
1 < -1 == (3 > 4) 
1 < -1 == False
False == False
True

True

In [21]:
flowers=['rose','bougainvillea', 'yucca', 'marigold', 'daylilly','lilly of the valley']
print(flowers)

['rose', 'bougainvillea', 'yucca', 'marigold', 'daylilly', 'lilly of the valley']

In [22]:
flowers=['rose','bougainvillea', 'yucca', 'marigold', 'daylilly','lilly of the valley']
'potato'in[flowers]

False

In [23]:
thorny=[flowers[0],flowers[1],flowers[2]]
print(thorny)

['rose', 'bougainvillea', 'yucca']

In [24]:
poisonous=[flowers[-1]]
print(poisonous)

['lilly of the valley']

In [25]:
dangerous=[thorny]+[poisonous]
print(dangerous)

[['rose', 'bougainvillea', 'yucca'], ['lilly of the valley']]